body {
    background-image: url(images/bg_pattern_mobile.jpg);
    background-repeat: repeat;
    overflow-x: hidden;
}

#gridbox {
    max-width: 420px;
    height: auto;
    margin: 0px auto;
}

#wrapper {
    display: grid;
    grid-row-gap: 0px;
    grid-template-columns: 420px;
    grid-template-rows: 150px 84px 648px 84px;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}

header {
    grid-area: header;
}

#Logo {
    width: 100%;
    height: 100%;
    margin: 0px auto;
}

nav {
    grid-area: nav;
    box-shadow: -5px 3px 6px #000000;
    background: #f7ac16;
    background: -moz-linear-gradient(left,  #f7ac16 0%, #996b11 26%, #f7ac16 60%, #996b11 83%, #f7ac16 90%, #996b11 100%);
    background: -webkit-linear-gradient(left,  #f7ac16 0%,#996b11 26%,#f7ac16 60%,#996b11 83%,#f7ac16 90%,#996b11 100%);
    background: linear-gradient(to right,  #f7ac16 0%,#996b11 26%,#f7ac16 60%,#996b11 83%,#f7ac16 90%,#996b11 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7ac16', endColorstr='#996b11', GradientType=1);
    width: 100%;
    font-size: 14pt;
}

#NavFlexBox {
    display: flex;
    width: 420px;
    height: 84px;
    justify-content: space-around;
}

#menu-btn {
    margin-top: 9px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 54px;
    color: black;
    width: 30px;
    height: 30px;
    align-self: flex-start;
    padding: 5px;
}

input[type=checkbox] {
    display: none;
}

ul#menu {
    display: none;
}

div#searchbar {
    display: none;
}

li {
    display: block;
    background: #f7ac16;
    background: -moz-linear-gradient(left,  #f7ac16 0%, #996b11 26%, #f7ac16 60%, #996b11 83%, #f7ac16 90%, #996b11 100%);
    background: -webkit-linear-gradient(left,  #f7ac16 0%,#996b11 26%,#f7ac16 60%,#996b11 83%,#f7ac16 90%,#996b11 100%);
    background: linear-gradient(to right,  #f7ac16 0%,#996b11 26%,#f7ac16 60%,#996b11 83%,#f7ac16 90%,#996b11 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7ac16', endColorstr='#996b11', GradientType=1);
    padding: 5px;
    box-shadow: -5px 3px 6px #000000;
    margin: 17px auto;
    padding: 10px 31px;
    border-radius: 30px;
    text-align: center;
    font-family: bodega-sans, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 17pt;
    color: black;
    text-decoration: none;
}

#responsive-nav:checked ~ ul#menu {
    display: block;
    position: absolute;
    z-index: 20;
    line-height: 220%;
    text-align: left;
    margin: 85px auto;
    padding: 95px 95px 75px 95px;
    background: #f7ac16;
    background: -moz-linear-gradient(left,  #f7ac16 0%, #996b11 26%, #f7ac16 60%, #996b11 83%, #f7ac16 90%, #996b11 100%);
    background: -webkit-linear-gradient(left,  #f7ac16 0%,#996b11 26%,#f7ac16 60%,#996b11 83%,#f7ac16 90%,#996b11 100%);
    background: linear-gradient(to right,  #f7ac16 0%,#996b11 26%,#f7ac16 60%,#996b11 83%,#f7ac16 90%,#996b11 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7ac16', endColorstr='#996b11', GradientType=1);
}

#search-btn {
    margin-right: 22px;
    margin-top: 8px;
    font-size: 54px;
    color: black;
    width: 30px;
    height: 30px;
    align-self: flex-end;
    padding: 5px;
}

.left {
    float: left;
    width: 22px;
    color: black;
}

.right {
    float: right;
    width: 22px;
    color: black;
}

h1 {
    width: auto;
    height: auto;
    font-family: bodega-sans, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 20pt;
    color: black;
    text-align: center;
    display: inline-block;
    align-self: center;
    margin-left: 6px;
}

h2 {
    font-family: bodega-sans, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 17pt;
    color: white;
}

h3 {
    font-family: mostra-nuova, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14pt;
    line-height: 120%;
    color: white;
}

h4 {
    font-family: mostra-nuova, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14pt;
    line-height: 120%;
    color: white;
}

p {
    font-family: mostra-nuova, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14pt;
    line-height: 120%;
    color: white;
}

hr {
    border: 1px solid rgb(155, 155, 155);
    border-radius: 1px;
}

a:link, a:active, a:visited {
    color: black;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

#footer {
    font-family: mostra-nuova, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14pt;
    line-height: 120%;
    text-align: center;
    color: black;
}

main {
    grid-area: main;
    width: 292px;
    height: 648px;
    background-color: rgb(13, 13, 13);
    overflow: auto;
    padding: 0px 22px;
    margin: 0px auto;
    overflow-x: hidden;
}

.photos {
    display: block;
    width: 292px;
    height: 210px;
    margin: 10px auto;
    border: 1px solid rgb(155, 155, 155);
}

legend {
    font-family: mostra-nuova, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14pt;
    line-height: 120%;
    color: white;
}

label {
    font-family: mostra-nuova, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14pt;
    line-height: 120%;
    color: white;
}

#name, #email {
    font-family: mostra-nuova, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14pt;
    line-height: 120%;
    color: black;
}

textarea {
    width: 239px;
    height: 150px;
    font-family: mostra-nuova, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14pt;
    line-height: 120%;
    color: black;
}

fieldset {
    border: 2px solid rgb(155, 155, 155);
    border-radius: 1px;
}

#submit {
    font-family: mostra-nuova, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14pt;
    line-height: 120%;
    color: black;
    margin: 8px 0px;
}

footer {
    grid-area: footer;
    width: 100%;
    height: auto;
    margin: 0px auto;
    box-shadow: -5px 3px 6px #000000;
    background: #f7ac16;
    background: -moz-linear-gradient(left,  #f7ac16 0%, #996b11 26%, #f7ac16 60%, #996b11 83%, #f7ac16 90%, #996b11 100%);
    background: -webkit-linear-gradient(left,  #f7ac16 0%,#996b11 26%,#f7ac16 60%,#996b11 83%,#f7ac16 90%,#996b11 100%);
    background: linear-gradient(to right,  #f7ac16 0%,#996b11 26%,#f7ac16 60%,#996b11 83%,#f7ac16 90%,#996b11 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7ac16', endColorstr='#996b11', GradientType=1);
}

@media screen and (min-width: 800px) {
    #gridbox {
        max-width: 800px;
    }
    
    #wrapper {
        display: grid;
        grid-row-gap: 0px;
        grid-template-columns: 768px;
        grid-template-rows: 150px 84px 648px 84px;
        grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
    }

    #NavFlexBox {
        display: flex;
        width: 768px;
        height: 84px;
        justify-content: space-around;
    }

    #menu-btn { 
        margin-top: 9px;
        margin-right: 100px;
        margin-bottom: 10px;
        margin-left: 10px;
        padding: 5px;
    }

    #responsive-nav:checked ~ ul#menu {
        padding: 95px 95px 75px 95px;
    }

    #search-btn {
        margin-right: 22px;
        margin-top: 8px;
        padding: 5px;
    }

    li {
        display: block;
        margin: 17px auto;
        padding: 10px 191px;
        font-size: 20pt;
    }

    main {
        width: 616px;
        height: 648px;
    }

    #Logo {
        width: 420px;
        margin: auto auto;
    }

    .photos {
        display: block;
        margin: auto auto;
        width: 596px;
        height: 429px;
        border: 2px solid rgb(155, 155, 155);
    }

    h1 {
        font-size: 28pt;
        margin-right: 100px;
    }

    h2 {
        font-size: 24pt;
    }

    h3 {
        font-size: 16pt;
    }

    h4 {
        font-size: 16pt;
    }

    p {
        font-size: 16pt;
    }

    legend {
        font-size: 16pt;
    }

    label {
        font-size: 16pt;
    }

    textarea {
        font-size: 16pt;
    }

    #footer {
        font-size: 16pt;
        height: auto;
        margin: 18px auto;
    }

    #name, #email {
        display: block;
        width: 350px;
        font-size: 16pt;
    }

    textarea {
        display: block;
        width: 563px;
        margin: 18px 0px;
    }
}
